
body {
	background-color: #444444;
	color: white;
	margin: 4vw;
	padding: 6vw;
	border: 5px solid #727272;
	font-family: helvetica;
}

header {
	text-align: center;
	padding-bottom: 4vw;
}

h1 {
	font-family: times;
	font-style: italic;
	font-size: 2.5em;
	font-weight: 500;
}

nav {
	color: #727272;
}

a {
	color: white;
	font-size: 1em;
	font-weight: 700;
}

a:link {
	color: #5BC58A;
}

a.active:link {
	text-decoration: none;
	color: white;
}

main {
	border-top: 2px solid #727272;
	border-bottom: 2px solid #727272;
	padding: 2vw 0;
	font-family: times;
	font-size: 1.2em;
	line-height: 1.5em;
	overflow: auto;
}

main img {
	float: right;
	padding: 5px;
	border: 2px solid #727272;
	margin: 0 0 2vw 2vw;
}

footer {
	text-align: center;
	margin: 4vw 0 2vw;
	color: #727272;
	font-size: 1.1em;
}